/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/09/2021, 9:33:08 p. m.
    Author     : rpalacios
*/

#identificador{
    text-decoration: underline;
    color: rgb(255,0,30);
}

.clase{
    font-family: Arial;
    font-size: x-large;
    color: #0000FF;
}

section{
    background-color: aqua;
}

article{
    border: 2px #C00 outset ;
    background-image: url('../imagenes/gmail.png');
    background-repeat: no-repeat;
}

div article p{
    text-align: right;
}